#home{
    width: 100%;
    height: 100vh;
    background-image: url(../img/events-heavenly-header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, .6);
}
#home h2 {
    margin-top: 250px;
}
#home h2,p{
    text-align: center;
}
#leftMenu{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a{
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 1.5625rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: #fff;
}
.sidebar {
    background-color: #414658;
}
.sidebar a:hover{
    color: rgba(214, 46, 51, .4);
}
.sidebar .closeBtn{
    position: absolute;
    top: 0;
    left:  100px;
    font-size: 2.1875rem;
    margin-left: 50px;
}
#home-content {
    transition: margin-left .5s;
    padding: 16px;
}

#home-content h2
{
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* option */
#sliderDown{
    margin: 100px auto;
}
#sliderDown h3 {
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51, .6);
    cursor: pointer;
    color: #fff;
}
#sliderDown div{
    background-color: #eee;
    padding: 10px; 
    display: none;
}
#sliderDown .first{
    display: block;
}

/* counter */
#counter{
    background-image: url(../img/invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 330px;
}
.counter-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, .6);
    color: #fff;
}
.container{
    padding: 100px 0px;
}
.time{
    padding: 50px;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 1.875rem;
}
/* contact */
#contact .head h2{
    text-transform: uppercase;
    font-size: 2.1875rem;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
}
#contact .head p{
    color: #777;
    font-weight: 300;
    font-size: 1rem;
}
#contact .contact-info h3{
    color: #444;
    font-size: 1.125rem;
    font-weight: bold;
}
#contact .contact-info p {
    line-height: 26px;
    color: #777;
}
#contact .icons {
    margin-top: 50px;
}
#contact .icons p{
    margin-bottom: 35px;
}
#contact i{
    margin-right: 20px;
    color:#777;
}
#contact .red{
    color:#D62E33 !important;
}


#contact .contact-info .social-list{
    margin-top:60px;
    color:#777;
    
}

#contact .contact-info .social-list i{
    margin-right: 10px;
    border:1px solid #999;
    width:40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
#contact .contact-info .social-list i:hover{
    color:#fff;
    background-color: #D62E33;
    border:1px solid #D62E33;
}
#contact form input,
#contact form textarea{
    margin-bottom: 20px;
}
#contact form textarea{
    height: 200px;
    resize:vertical;
}



#chars
{
    font-size: 20px;
    color: #D62E33;
}


